{% extends "trend/base.html" %}
{% load static %}
{% block title%}Add category item{% endblock title%}
{% block css %} <link rel="stylesheet" href="{% static 'css/trend/MAPA_upload.css' %}" />  {% endblock css%}
{% block content%}
<div id="form_body">
<form method = "post" enctype = "multipart/form-data" id="form" >
   <h2 style="text-align:center;">MAPA UPLOAD </h2>
   {% csrf_token %}
    
   <label for="myfile">Select a file:</label>
   <input type="file" id="myfile" name="MAPA_file">
    <br>
    <div id="frm_btns">
   <button type="submit" class="btn" id="add">Submit</button>
   <a href="/"> <button  type="button" id="cancel" class="btn">cancel</button >
   </div>  
</form>

   </div>
   {% for message in messages %}
     
   <h3 class="message" style="text-align:center;">{{message}}</h3>
  
{% endfor %}
    {% endblock content%}
